%div{:class => "row"}
  %div{:class => "large-8 column"}
    = form_for @user, url: "/sessions", method: "post" do |f|
      %div{:class => "large-6 column login-footer-space"}
        %div{:class => "card"}
          .title.sign-up-title Login
          = f.text_field :username, placeholder: "Username"
          = f.password_field :password, placeholder: "Password"
          = f.submit "Log In"
