.parallax-background
  .intro-text
    %p Vagabond App

.parallax-content
  .row
    .medium-4.columns
      %h3 San Francisco
      .image
        %img{:src => "https://static1.squarespace.com/static/547f29bfe4b0dc192ed7bdac/54aeb15ce4b018c14f34c7cb/54aeb160e4b018c14f34c7ed/1420734817363/san-franc.jpg?format=2500w"}/
        %span.title Road Warrior
      .content
        %p I shall be telling this with a sigh. Somewhere ages and ages hence: Two roads diverged in a wood, and I — I took the one less traveled by.	And that has made all the difference.
    .medium-4.columns
      %h3 San Francisco
      .image
        %img{:src => "https://static1.squarespace.com/static/547f29bfe4b0dc192ed7bdac/54aeb15ce4b018c14f34c7cb/54aeb160e4b018c14f34c7ed/1420734817363/san-franc.jpg?format=2500w"}/
        %span.title Road Warrior
      .content
        %p I shall be telling this with a sigh. Somewhere ages and ages hence: Two roads diverged in a wood, and I — I took the one less traveled by.	And that has made all the difference.
    .medium-4.columns
      %h3 San Francisco
      .image
        %img{:src => "https://static1.squarespace.com/static/547f29bfe4b0dc192ed7bdac/54aeb15ce4b018c14f34c7cb/54aeb160e4b018c14f34c7ed/1420734817363/san-franc.jpg?format=2500w"}/
        %span.title Road Warrior
      .content
        %p I shall be telling this with a sigh. Somewhere ages and ages hence: Two roads diverged in a wood, and I — I took the one less traveled by.	And that has made all the difference.
