.parallax-background
  .intro-text
    %p Vagabond App

.parallax-content
  .row
    .medium-4.columns
      %h3 San Francisco
      .image
        %img{:src => "https://static1.squarespace.com/static/547f29bfe4b0dc192ed7bdac/54aeb15ce4b018c14f34c7cb/54aeb160e4b018c14f34c7ed/1420734817363/san-franc.jpg?format=2500w"}
        %span.title Road Warrior
      .content
        %p I shall be telling this with a sigh. Somewhere ages and ages hence: Two roads diverged in a wood, and I — I took the one less traveled by.	And that has made all the difference.
    .medium-4.columns
      %h3 New York City
      .image
        %img{:src => "https://media-cdn.tripadvisor.com/media/photo-s/03/9b/2d/f2/new-york-city.jpg"}
        %span.title Road Warrior
      .content
        %p I shall be telling this with a sigh. Somewhere ages and ages hence: Two roads diverged in a wood, and I — I took the one less traveled by.	And that has made all the difference.
    .medium-4.columns
      %h3 London
      .image
        %img{:src => "https://www.lonelyplanet.com/travel-blog/tip-article/wordpress_uploads/2015/04/London-skyline_CS.jpg"}
        %span.title Road Warrior
      .content
        %p I shall be telling this with a sigh. Somewhere ages and ages hence: Two roads diverged in a wood, and I — I took the one less traveled by.	And that has made all the difference.
