.row
  .small-6.large-centered.columns
    .card
      %h1= @post.title
      %hr
      %p= @post.content
      %br

      = button_to 'Edit', edit_post_path(@post.city, @post), method: :get 
      = button_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }
