.row
  .large-8.large-centered.columns
    - @cities.each do |city|
      .card.city_card
        = image_tag city.city_image, class: "city_image"
        %span.title= city.city_name + ", " + city.city_state
        .action
          %a{ href: "/cities/" + city.id.to_s }
            View All City Posts
