
.row
  .large-8.large-centered.columns
    %h2.text-center All Cities
    - @cities.each do |city|
      .card.city_card
        %img{:src => city.city_image, :class => "city_image" }
        %span.title San Francisco, California, USA
        .action
          %a{:href => "#{}", :class => "city_links"} View All City Posts
