.row.collapse.expanded
  .small-12.medium-12.large-12.columns
    .orbit
      %ul.orbit-container
        %li.is-active.orbit-slide
          = image_tag @city.city_image
          %span.orbit-caption
            %h1.text-center= @city.city_name + ", " + @city.city_state
