%h1= @city.city_name
%p= @city.city_state

- if @posts
  - @posts.each do |post|
    %h4= post.title
    %span= post.content
    %hr
    %button#newPostButton.submit-button{:onclick => "location.href = '/cities/" + @city.id.to_s + "/posts/new'"} Add New Post
