// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .city{
//   margin-top: 1em;
// }

.city_image{
  max-width: 700px;
  margin-left: 2em;
}

.title{
  margin-left: 9em;
}

.city_links {
  margin-left: 17em;
}
